<h5 mat-dialog-title>{{description}}</h5>
<mat-dialog-content [formGroup]="form">
    <p>
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
        </mat-form-field>
    </p>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="save()" tabindex="1">{{confirmButtonText}}</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>