/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red-snackbar{
    background-color: rgba(226, 80, 80, 0.445);
    color:lightgoldenrodyellow;
  }

  .green-snackbar{
    background-color: rgba(50, 230, 26, 0.301);
    color:lightgoldenrodyellow;
  }
  
